$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    @extend html;
    font-size: 12px;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #828282;
}

#main-wrapper {
    margin-left: 0;
    margin-right: 0;
    padding: 20px 20px 20px 100px;
}

header {
    width: 830px;
    padding-bottom: 20px;
    height: 90px;
    p {
        color: #9FA0AC;
    }
    .header-right {
        margin-top: 14px;
        margin-right: 20px;
        img {
            margin-right: 9px;
        }
    }
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    color: #4BA9DF;
}

.panel {
    width: 800px;
}

.table {
    table-layout: fixed;
    .chkbox {
        width: 40px;
    }
    .ext {
        width: 60px;
    }
    .new-row input {
        width: 100%;
    }
    & > thead > tr > th {
        color: #4BA9DF;
        padding: 10px 10px 10px 18px;
    }
    & > tbody > tr > td {
        padding: 12px 10px 5px 20px;
        word-wrap: break-word;
    }
}

#add-container {
    width: 800px;
    margin-top: 20px;
}

button {
    color: #FCFCFC;
    background-color: #3CA0DC;
    border: none;
    font-size: 12px;
    padding: 7px 17px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    &:hover {
        color: #fff;
        background-color: #1297E6;
        outline: none;
        text-decoration: none;
    }
    &.cancel-btn {
        background-color: #B3B2B2;
        margin-left: 20px;
        &:hover {
            background-color: #A2A0A0;
        }
    }
}

label.checkbox-inline {
    padding-left: 8px;
    margin-top: -5px;
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: relative;
    margin-left: -14px;
}

.new-row.ng-hide-remove {
    animation: 0.75s fadeIn ease;
}

.slideDown {
    animation: 0.5s slideInDown ease;
}

.slideUp {
    animation: 0.5s slideInUp ease;
}
