<div class="row" id="main-wrapper">
    <header>
    <div class="pull-left">
        <h4>External Contacts</h4>
        <p>Select the client contact associated with this offer</p>
        </div>
        <div class="pull-right header-right"><img src="images/collapse-icon.jpg" />Collapse</div>
    </header>

    <div class="panel panel-default">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="chkbox"></th>
                <th>Type</th>
                <th>Name</th>
                <th>Title</th>
                <th>Phone</th>
                <th class="ext">Ext.</th>
                <th>Fax</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in contactInfo track by $index">
                <td>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="item.Selected" ng-click="checked(item)">
                    </label>
                </td>
                <td>{{item.Type}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.Title}}</td>
                <td>{{item.Phone}}</td>
                <td>{{item.Ext}}</td>
                <td>{{item.Fax}}</td>
                <td>{{item.Email}}</td>
            </tr>
            <tr ng-show="addRow" class="new-row">
                <td> </td>
                <td>
                    <input type="text" ng-model="item.Type" />
                </td>
                <td>
                    <input type="text" ng-model="item.Name" /></td>
                <td>
                    <input type="text" ng-model="item.Title" /></td>
                <td>
                    <input type="text" ng-model="item.Phone" /></td>
                <td>
                    <input type="text" ng-model="item.Ext" /></td>
                <td>
                    <input type="text" ng-model="item.Fax" /></td>
                <td>
                    <input type="text" ng-model="item.Email" /></td>
            </tr>
        </tbody>
    </table>
    </div>

    <div id="add-container" ng-show="showButtons">
        <button ng-click="add()" ng-hide="displaySave">Add New Contact Info</button>
        <button ng-click="save()" ng-show="displaySave">Save</button>
        <button ng-click="cancel()" class="cancel-btn" ng-show="displaySave">Cancel</button>
        <button class="pull-right" ng-click="delete($index)">Delete Checked</button>
    </div>
</div>
